
.vs/SystemServiceAPICore3/xs/project-cache/SystemServiceAPICore3-Debug.json
.vs/SystemServiceAPICore3/xs/UserPrefs.xml
bin/Debug/netcoreapp3.1/appsettings.Development.json
bin/Debug/netcoreapp3.1/appsettings.json
bin/Debug/netcoreapp3.1/DocumentFormat.OpenXml.dll
bin/Debug/netcoreapp3.1/EPPlus.dll
bin/Debug/netcoreapp3.1/EPPlus.Interfaces.dll
bin/Debug/netcoreapp3.1/EPPlus.System.Drawing.dll
bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.FileExtensions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Json.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Physical.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileSystemGlobbing.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
bin/Debug/netcoreapp3.1/Microsoft.IO.RecyclableMemoryStream.dll
bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Text.Encoding.CodePages.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
bin/Debug/netcoreapp3.1/System.IO.Packaging.dll
bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
bin/Debug/netcoreapp3.1/System.Runtime.CompilerServices.Unsafe.dll
bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
bin/Debug/netcoreapp3.1/System.Text.Encoding.CodePages.dll
bin/Debug/netcoreapp3.1/System.Text.Encodings.Web.dll
bin/Debug/netcoreapp3.1/System.Text.Json.dll
bin/Debug/netcoreapp3.1/SystemServiceAPICore3
bin/Debug/netcoreapp3.1/SystemServiceAPICore3.deps.json
bin/Debug/netcoreapp3.1/SystemServiceAPICore3.dll
bin/Debug/netcoreapp3.1/SystemServiceAPICore3.pdb
bin/Debug/netcoreapp3.1/SystemServiceAPICore3.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/SystemServiceAPICore3.runtimeconfig.json
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/apphost
obj/Debug/netcoreapp3.1/staticwebassets/SystemServiceAPICore3.StaticWebAssets.Manifest.cache
obj/Debug/netcoreapp3.1/SystemServiceAPICore3.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/SystemServiceAPICore3.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/SystemServiceAPICore3.assets.cache
obj/Debug/netcoreapp3.1/SystemServiceAPICore3.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/SystemServiceAPICore3.csproj.CopyComplete
obj/Debug/netcoreapp3.1/SystemServiceAPICore3.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/SystemServiceAPICore3.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/SystemServiceAPICore3.dll
obj/Debug/netcoreapp3.1/SystemServiceAPICore3.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/netcoreapp3.1/SystemServiceAPICore3.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/SystemServiceAPICore3.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/netcoreapp3.1/SystemServiceAPICore3.pdb
obj/Debug/netcoreapp3.1/SystemServiceAPICore3.RazorTargetAssemblyInfo.cache
obj/project.assets.json
obj/project.nuget.cache
obj/SystemServiceAPICore3.csproj.nuget.dgspec.json
obj/SystemServiceAPICore3.csproj.nuget.g.props
obj/SystemServiceAPICore3.csproj.nuget.g.targets
